<launch>

  <!-- standalone launch file for running gmapping -->

  <arg name="agent"  default="$(env AGENT)" />
  <arg name="camera" default="false" /> <!-- don't need the asus for gmapping -->

  <include file="$(find scarab)/launch/scarab.launch">
    <arg name="agent"      value="$(arg agent)" />
    <arg name="camera"     value="$(arg camera)" />
    <arg name="hokuyo"     value="true" />
    <arg name="laser_odom" value="true" />
  </include>

  <include file="$(find scarab)/launch/gmapping.launch">
    <arg name="agent" value="$(arg agent)" />
  </include>

</launch>
