<launch>

  <!-- standalone launch file for running gmapping -->

  <arg name="agent" default="$(optenv AGENT defaultagent)" />

  <!--
  <include file="$(find scarab)/launch/scarab.launch">
    <arg name="agent" value="$(arg agent)" />
  </include>
  -->

  <include file="$(find scarab)/launch/gmapping.launch">
    <arg name="agent" value="$(arg agent)" />
  </include>

  <node name="laser_odom" pkg="laser_odom" type="laser_odom"
      output="screen" ns="$(arg agent)">
    <param name="debug" value="false" />
    <param name="base_frame" value="$(arg agent)/base_link" />
    <param name="odom_frame" value="$(arg agent)/odom_laser" />
    <rosparam>
      grid_resolution: 0.05
      sensor_sd: 0.02
      subsample: 1
      travel_distance: 0.2
      travel_angle: 0.034
      decay_duration: 200
      decay_step: 40
      range_x: 0.2
      range_y: 0.2
    </rosparam>
  </node>

</launch>
