<launch>

  <arg name="agent" default="scarab40" />

  <group ns="$(arg agent)">
    <node name="key_to_twist" pkg="scarab_twist" type="key_to_twist"
          output="screen" >
      <param name="vmax" value="1.0" />
      <param name="wmax" value="1.5" />
      <remap from="~/twist" to="cmd_vel" />
      <remap from="~/joy" to="joy" />
    </node>
  </group>
</launch>
